header{
    text-align: center;
    padding: 25px 20px 10px;
    border-bottom: 1px solid #ddd;
}
h1{
    font-size: 34px;
    color: #6d3b2e;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.topo{
    font-size: 12px;
    letter-spacing: 2px;
    color: #a87c6a;
}
.menu{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 15px 0 20px;
}
a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    position: relative;
}
.menu a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #6d3b2e;
    transition: 0.3s;
}
.menu a:hover::after{
    width: 100%;
}
.categorias{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 50px 20px;
}
.cart{
    width: 300px;
    height: 290px;
    background-color: #d8c7c3;
    overflow: visible;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.cart:hover{
    transform: translateY(-10px);
    transition: 0.3s;
}
.cart img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
}
.cat{
    margin-top: 10px;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.valor{
    margin-top: 10px;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;
}
.linkcard{
    text-decoration: none;
    color: inherit;
}

