header{
    text-align: center;
    padding: 25px 20px 10px;
    border-bottom: 1px solid #ddd;
}
h1 {
    font-size: 34px;
    color: #6d3b2e;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.topo {
    font-size: 12px;
    letter-spacing: 2px;
    color: #a87c6a;
}
.menu{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 15px 0 20px;
}
a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    position: relative;
}
.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #6d3b2e;
    transition: 0.3s;
}
.menu a:hover::after {
    width: 100%;
}
