* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.topo {
    border-bottom: 1px solid #ddd;
}

.topo-logo {
    text-align: center;
    padding: 25px 20px 10px;
}

.topo-logo h1 {
    font-size: 34px;
    color: #6d3b2e;
}

.subtit {
    font-size: 11px;
    letter-spacing: 2px;
    color: #a87c6a;
}

/* LINHA DE BAIXO (MENU) */
.topo-menu {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 15px 0 20px;
}

.topo-menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    position: relative;
}

/* LINHA ANIMADA NO HOVER */
.topo-menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #6d3b2e;
    transition: 0.3s;
}

.topo-menu a:hover::after {
    width: 100%;
}
.categorias{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 50px 20px;
}
.cart{
    width: 300px;
    height: 290px;
    background-color: #d8c7c3;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cat{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 135%;
    letter-spacing: 2px;
    font-weight: bold;
}
.rodape{
    background-color: #f0f0f0;
    margin-top: 80px;
    padding: 30px 10px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.conteudorod{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    gap: 30px;
    flex-wrap: wrap;
}
.colunarod{
    flex: 1;
    min-width: 220px;
}
.colunarod h3,
.colunarod h4{
    margin-bottom: 10px;
}
.colunarod p{
    font-size: 15px;
    line-height: 1.6;
}
.rodapecp{
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
}