* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER GERAL */
.topo {
    border-bottom: 1px solid #ddd;
}

/* LINHA DE CIMA */
.topo-logo {
    text-align: center;
    padding: 25px 20px 10px;
}

.topo-logo h1 {
    font-size: 34px;
    color: #6d3b2e;
}

.topo-logo span {
    font-size: 12px;
    letter-spacing: 3px;
    color: #a87c6a;
}

/* LINHA DE BAIXO (MENU) */
.topo-menu {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 15px 0 20px;
}

.topo-menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    position: relative;
}

/* LINHA ANIMADA NO HOVER */
.topo-menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #6d3b2e;
    transition: 0.3s;
}

.topo-menu a:hover::after {
    width: 100%;
}
